name: Build Godot Project

on:
  push: {}
  pull_request: {}

jobs:
  Godot:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - preset: LinuxDesktop
            artifact: Client - linux
          - preset: LinuxServer
            artifact: Server - linux
          - preset: Windows
            artifact: Client - windows
          - preset: macOS
            artifact: Client - mac

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - name: Build
        id: build
        uses: manleydev/build-godot-action@v1.4.1
        with:
          name: jigsaw
          preset: ${{ matrix.preset }}
          debugMode: "true"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact }}
          path: ${{ github.workspace }}/${{ steps.build.outputs.build }}
